<meta property="og:image:type" content="image/png">
<meta property="og:image:alt" content="BitBox hardware wallet guides by Shift Crypto 🇨🇭">
<meta property="og:image" content="https://shiftcrypto.ch/assets/images/ogp/bitbox02.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ShiftCryptoHQ">

<script type="text/javascript">
  (function(t,a,p){t.TapfiliateObject=a;t[a]=t[a]||function(){ (t[a].q=t[a].q||[]).push(arguments)}})(window,'tap');

  tap('create', '11449-8eb285', { integration: "javascript" });
  tap('detect');
</script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<button type="button" class="btn" id="feedback-form">Contact</button>

<script id="zammad_form_script" src="https://shiftcrypto.support/assets/form/form.js"></script>

<script>
$(function() {
  $('#feedback-form').ZammadForm({
    messageTitle: 'Ticket via form on guides.shiftcrypto.ch',
    messageSubmit: 'Submit',
    messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.',
    modal: true
  });
});
</script>
